body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7307b1;
    padding: 15px;
    color: #fff;
  }
  
  button {
    background-color: #fff;
    color: #7307b1;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    height: 30px;
    width: 80px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #7307b1;
    color: #fff;
  }
  
  .icon {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .icon img {
    width: 100%;
    min-height: 210px;
  }
  
  .cards {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .card {
    max-width: 350px;
    padding: 20px;
    margin: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
  }
  
  .sobre-section {
    background-color: #f8f8f8;
    padding: 40px 0;
  }
  .sobre-section-title {
    text-align: center;
  }
  
  
  .cursos-section {
    background-color: #7307b1;
    padding: 40px 0;
    text-align: center;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .sobre-section-title,
  .cursos-section-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .sobre-section-title {
    color: #7307b1;
  }
  
  .cursos-section-title {
    color: #fff;
  }
  
 
  .contato-section {
    background-color: #f8f8f8;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer {
    max-width: 600px;
    margin: 0 auto;
    color: #333;
  }
  
  .footer p {
    margin: 10px 0;
  }
  
  